.main-div {
    margin: 2em;
}

.bloc-activite-et-desc {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 45%) );
    column-gap: 4em;
    row-gap: 4em;
}

.bloc-demi-journee {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.select-checkbox-type-activite {
    display: flex;
    justify-content: space-between;
}

.div-periode-demi-journee {
    font-size: 2em;
}

.bar-sauvegarder-annuler {
    display: flex;
}

.bar-sauvegarder-annuler-item:last-child {
    margin-left: auto;
}

.mat-input-element {
    height: 10em;
    resize: none;
}