.bloc-activite-et-desc {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
}

.bloc-choix-type-activite {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 33%));
}

.bloc-type-activite {
    display: flex;
    flex-direction: column;
}