:host {
    display: block;
}

.main-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: justify;
}