.field{
    padding: 1em;
    width: 50%;
}

.label {
    width: 12em;
    display: inline-block;
}

table {
    width: 100%;
}

.button-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 10px;
}

.button-div > div {
    padding-left: 10px;
}

.create-activity-form {
    display: flex;
}