.nav-main-container {
    
}

.nav-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-list-item {
    background-color: var(--accent-color);
    color: var(--white-color);
    margin-top: 2px;
    margin-bottom: 2px;
}

.mat-list-item:last-child {
    background-color: var(--warn-color);
    color: var(--white-color);
}

.mat-nav-list .mat-list-item:not(.mat-list-item-disabled):hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.mat-nav-list .mat-list-item:focus{
    background-color: var(--primary-color);
}