.nav-main-container {
}

.nav-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list-button {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
}

.nav-button {
    width: 20em;
    padding: 10px;
}

.nav-list-button > .nav-button {
    margin: 10px;
    text-align: center;
  }

.nav-button:last-child {
    margin-top: auto;
}