<p>calcul-temps-activite works!</p>

<table cdk-table>
    <!-- Position Column -->
    <ng-container cdkColumnDef="activity">
      <th cdk-header-cell *cdkHeaderCellDef>Nom activité</th>
      <td cdk-cell *cdkCellDef="let row"> {{row.activity}} </td>
    </ng-container>
  
    <tr cdk-header-row *cdkHeaderRowDef="header"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: header;"></tr>
  </table>
  

<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
