<div class="container">
    <form (ngSubmit)="connection()" #authentificationForm="ngForm">
        <div class="container authenfication-container">
            <div class="item">
                <h1 class="app-title">Optim'App</h1>
            </div>
            <div class="item">
                <mat-form-field>
                    <mat-label>Identifiant : </mat-label>
                    <input type="text" name="idInput" matInput placeholder="Identifiant de connexion" [(ngModel)]="id">
                </mat-form-field>
            </div>
            <div class="item">
                <mat-form-field>
                    <mat-label>Mot de passe : </mat-label>
                    <input type="password" name="passwordInput" matInput placeholder="Mot de passe" [(ngModel)]="password">
                </mat-form-field>
            </div>
            <div class="item">
                <button type="submit" mat-raised-button color="warn">Connexion</button>
            </div>
        </div>
    </form>
</div>