@import '../../../styles.scss';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-title {

}

.mat-list-item {
    background-color: mat-color($primary, A400);
    margin-top: 2px;
    margin-bottom: 2px;

}

.mat-list-item:last-child {
    background-color: mat-color($warn);
}

.mat-nav-list .mat-list-item:not(.mat-list-item-disabled):hover{
    background-color: mat-color($accent);
}

.mat-nav-list .mat-list-item:focus{
    background-color: mat-color($accent);
}

.mat-list-base .mat-list-item {
    color:mat-color($white);
}