/* You can add global styles to this file, and also import other style files */
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@angular/material/theming';
@import 'custom-theme.scss';

@include angular-material-theme($PFE-theme);
$primary: map-get($PFE-theme, primary);
$accent: map-get($PFE-theme, accent);
$warn: map-get($PFE-theme, warn);
$foreground: map-get($PFE-theme, foreground);

html, body { 
    height: 100%; 
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}
